* {
  margin: 0;
  padding: 0;
}
nav {
  display: flex;
  border: 2px solid black;
  border-bottom: none;
  justify-content: space-between;
}
nav img {
  float: left;
}
#name {
  float: left;
}
nav a {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: black;
  text-decoration: none;
}
nav a:hover {
  text-decoration: underline;
}
header {
  padding: 50px;
  text-align: center;
  border: 2px solid black;
  border-top: none;
}
header h1 {
  font-family: "Brush Script MT", cursive;
}
header p {
  color: grey;
}
main h2 {
  font-family: "Brush Script MT", cursive;
  text-align: center;
  padding: 10px;
}
.projects {
  display: flex;
  margin: 20px;
  margin-left: 20%;
  border: 1px solid black;
  border-radius: 10px;
  justify-content: center;
  padding: 20px;
  width: 60%;
}
.projects_container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
footer {
  height: 30%;
  border: 2px solid black;
  padding: 20px;
}

#copyright {
  text-align: center;
  font-family: "Brush Script MT", cursive;
}
